body{
    background-color: rgba(127, 255, 212, 0.386);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: auto; 
    width: 80vh;
    background-color: #74e4d79a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 20px; 
    margin-left: 400px;
    border: 2px solid #ddd; 
}


.input-container h1 {
    font-size: 2.5rem;
    color: #3d55a8;
    margin-bottom: 10px;
}

.input-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
}


.input-container input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-container input[type="submit"] {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container input[type="submit"]:hover {
    background-color: #0056b3;
}


.lanes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px; 
}

.lane {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 2px solid #3a5bb6ba;
    border-radius: 8px;
    position: relative;
    height: 50px;
}

.lanes ::before{
    content: "";
    position: absolute;
    right: 15px;
    width: 10px;
    height: 100%;
    background-color: red;
}

.pics {
    width: 100px;
    height: auto;
    left: 0;
    position: absolute;
}

.refresh-button{
    width: 100px;
    height: 50px;
    background-color: #007bff;
    font-size: xx-large;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.refresh-button:hover{
    background-color: #0056b3;
}

.results {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 2px solid #ddd;
    width: 80%;
    margin: 0 auto; 
}

.results div {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    margin: 5px 0;
    border-radius: 5px;
}

.results div.result-1 {
    background-color: #28a745; 
    color: white;
}

.results div.result-2 {
    background-color: #ffc107; 
    color: white;
}

.results div.result-3 {
    background-color: #ec9721; 
    color: white;
}

.results div.result-4 {
    background-color: #dc3545; 
    color: white;
}
